{
  "proseWrap": "never",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["**/*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
